*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.letter{
    z-index: 0;
    letter-spacing: 4px !important;
}
.bran__title{
    margin-right: 10px;
    font-weight: 600;
}

.tab{
    color: black;
    text-decoration: none;
}
.font{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}
.header__nav{
    z-index: 3;
    background-color: white;
    height: 54px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    &>h2{
        line-height: 54px;
        display: inline-block;
        margin-left: 35px;
    }
}
.header__list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    &>ul{
        z-index: 4;
        position: absolute;
        &>li{
            display: none;
            }
    }
    
}
.header__list:hover>ul>li{
    cursor: pointer;
    display: block;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.header__list>ul>li:hover{
    color: white;
    background-color: #ccc;
}
.header__list>ul>li{
    background-color:white;
}
.login__btn{
    position: absolute;
    cursor: pointer;
    top: 0;
    height: 54px !important;
}
.menu__icon{
    position: absolute !important;
    top: 0;
    right: 43px;
    height: 54px;
    &>span{
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 700;
        line-height: 1.75;
        text-transform: uppercase;
        letter-spacing: 2px;
        color:tomato;
    }
}
.user__btn{
    position: absolute !important;
    top: 0px;
    right: 36px;
}
@media(min-width: 740px) and (max-width:1023px){
    .login__btn{
        display: none !important;
    }
    .user__btn{
        margin: 0;
        right: 0;
    }
    .menu__icon{
        margin: 0;
        right: 0;

        
    }

}
// mobile
@media(max-width: 740px){  


}