*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slide__list{
    position: relative;
    &>h2{
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-bottom: 32%;
        color:white;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 32px;
        line-height: 1.5;
    }
}
@media (min-width: 740px) and (max-width:1023px){
    .slide__list>h2{
        margin-bottom: 27%;
    }
}
