*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title{
    margin: 0px 37px 20px;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.decr{
    margin: 10px 37px;
    padding: 16px 0;
    text-align: justify;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

@media(min-width: 740px) and (max-width:1023px){
    .about_feature{
        overflow: scroll;
        max-height: 971px;
        display: inline-block;
    }
    
}