*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slide__title{
    display: flex;
    opacity: 0.6;
        position: absolute;
        top: 375px;
        left: 650px;
        z-index: 1;
        color: white;
        background-color: black;
      &>h1{
        padding: 11px 23px;
        text-transform: uppercase;
        letter-spacing: 4px;
          
    }
}
@media (min-width: 740px) and (max-width:1023px){
    .slide__title{
        z-index: 0;
        top: 227px;
        left: 295px;
        &>h1{
            padding: 15px 15px;
        }
    }
}
